flows.json
[{"id":"2735f648.e6f62a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27949f15.16dab","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"173a3d0c.47a6a3","type":"ui_tab","z":"","name":"default","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ec641b45.63f418","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Machine-Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":68,"sy":48,"gx":9,"gy":9,"cx":9,"cy":9,"px":4,"py":4}}},{"id":"fa22b609.398d58","type":"ui_spacer","name":"spacer","group":"81add464.83dea8","order":1,"width":1,"height":1},{"id":"bd167868.ac6408","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d57741be.182a9","type":"ui_group","z":"","name":"Humidity","tab":"173a3d0c.47a6a3","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd363571.f85518","type":"ui_group","z":"","name":"Temperature","tab":"173a3d0c.47a6a3","order":2,"disp":true,"width":"6","collapse":false},{"id":"23590206.ee8bfe","type":"ui_group","z":"","name":"Current","tab":"173a3d0c.47a6a3","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3fcf384.32871","type":"ui_group","z":"","name":"Vibration","tab":"173a3d0c.47a6a3","order":4,"disp":true,"width":"6","collapse":false},{"id":"b15f387c.1a9a08","type":"ui_group","z":"","name":"Default","tab":"173a3d0c.47a6a3","order":5,"disp":true,"width":"6","collapse":false},{"id":"4c73efb6.d05d","type":"ui_group","name":"Group 1","tab":"bd167868.ac6408","order":1,"disp":true,"width":6},{"id":"525d3466.7d51cc","type":"function","z":"2735f648.e6f62a","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["1361fe71.ee9372","2b513e22.7a2d22"]]},{"id":"a862daeb.d3f728","type":"function","z":"2735f648.e6f62a","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":40,"wires":[["1361fe71.ee9372","56d4eba6.2d1db4"]]},{"id":"ea86dd6b.ec4c","type":"ibmiot in","z":"2735f648.e6f62a","authentication":"apiKey","apiKey":"27949f15.16dab","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9999","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":120,"wires":[["525d3466.7d51cc","a862daeb.d3f728","1361fe71.ee9372","5fc8cc1d.7e29d4","f7672f2b.13a14"]]},{"id":"1361fe71.ee9372","type":"debug","z":"2735f648.e6f62a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":120,"wires":[]},{"id":"2b513e22.7a2d22","type":"ui_gauge","z":"2735f648.e6f62a","name":"","group":"cd363571.f85518","order":3,"width":0,"height":0,"gtype":"gage","title":"Tempeature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":220,"wires":[]},{"id":"56d4eba6.2d1db4","type":"ui_gauge","z":"2735f648.e6f62a","name":"","group":"d57741be.182a9","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":40,"wires":[]},{"id":"5fc8cc1d.7e29d4","type":"function","z":"2735f648.e6f62a","name":"current","func":"global.set('current',msg.payload.current)\nmsg.payload=msg.payload.current\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["5c1c0b79.9708e4","1361fe71.ee9372"]]},{"id":"f7672f2b.13a14","type":"function","z":"2735f648.e6f62a","name":"Vibration","func":"global.set('vibration',msg.payload.vibration)\nmsg.payload=msg.payload.vibration;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["204d2c4a.f5e684","1361fe71.ee9372"]]},{"id":"5c1c0b79.9708e4","type":"ui_chart","z":"2735f648.e6f62a","name":"","group":"23590206.ee8bfe","order":5,"width":0,"height":0,"label":"current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":280,"wires":[[]]},{"id":"204d2c4a.f5e684","type":"ui_chart","z":"2735f648.e6f62a","name":"","group":"c3fcf384.32871","order":6,"width":0,"height":0,"label":"vibration","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":900,"y":340,"wires":[[]]},{"id":"a339009f.815ea","type":"ui_button","z":"2735f648.e6f62a","name":"","group":"4c73efb6.d05d","order":1,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":190,"y":540,"wires":[["22e79cee.25a424","a56adcc0.be2"]]},{"id":"50bb019e.9212d","type":"ui_button","z":"2735f648.e6f62a","name":"","group":"4c73efb6.d05d","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":190,"y":600,"wires":[["22e79cee.25a424","a56adcc0.be2"]]},{"id":"22e79cee.25a424","type":"ibmiot out","z":"2735f648.e6f62a","authentication":"apiKey","apiKey":"27949f15.16dab","outputType":"cmd","deviceId":"9999","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":580,"wires":[]},{"id":"9c0f9f7c.73b37","type":"http in","z":"2735f648.e6f62a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":240,"y":460,"wires":[["2e835190.7f48de"]]},{"id":"be14bed6.5b224","type":"http response","z":"2735f648.e6f62a","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"2e835190.7f48de","type":"function","z":"2735f648.e6f62a","name":"data","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'current':global.get(\"current\"),'Vibration':global.get(\"vibration\")}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["be14bed6.5b224"]]},{"id":"499cab2e.cd4214","type":"inject","z":"2735f648.e6f62a","name":"","topic":"","payload":"machinemanitance","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["1361fe71.ee9372"]]},{"id":"a56adcc0.be2","type":"debug","z":"2735f648.e6f62a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":500,"wires":[]},{"id":"723fa1eb.1ed09","type":"http in","z":"2735f648.e6f62a","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":260,"y":400,"wires":[["2713adb3.d9b342"]]},{"id":"b8fb8b7c.581238","type":"http response","z":"2735f648.e6f62a","name":"","statusCode":"","headers":{},"x":650,"y":420,"wires":[]},{"id":"2713adb3.d9b342","type":"function","z":"2735f648.e6f62a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["b8fb8b7c.581238","8b274ea7.f24bb"]]},{"id":"8b274ea7.f24bb","type":"debug","z":"2735f648.e6f62a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":380,"wires":[]}]